<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<#-- 设置表别名 -->
<#assign className = table.className> 
<#assign sqlName = table.sqlName> 
<#-- 设置表主键 -->
<#list table.columns as column>
      <#if column.pk>
       	 <#assign pk = column> 
	</#if>
</#list>

<mapper namespace="${basepackage}.dao.${className}">
	
	<#-- 字段映射 -->
	<resultMap id="${className}" type="${basepackage}.model.${className}">
        
        <#list table.columns as column>
        <result property="${column.columnNameLower}" column="${column.constantName}"/>
		</#list>
	</resultMap>
	
	<#-- 字段SQL语句块 -->
	<sql id="${className}_columns">
	    <![CDATA[
	    <#list table.columns as column>
        T.${column.constantName}<#if column_has_next>,</#if> 
		</#list>
	    ]]>
	</sql>
	
	<#-- 插入SQL语句块 -->
	<insert id="${className}_insert" >
	   
    <![CDATA[
        INSERT INTO ${sqlName} (
        	<#list table.columns as column>
       		 ${column.constantName}<#if column_has_next>,</#if> 
			</#list>
        ) VALUES (
        	<#list table.columns as column>
       		 ${'#{'}${column.columnNameLower}}<#if column_has_next>,</#if> 
			</#list>
        )
    ]]>
		
	</insert>
	
	<#-- 删除SQL语句块 -->
	<delete id="${className}_delete">
    <![CDATA[
        DELETE FROM ${sqlName} WHERE
        ${pk} = ${'#{'}id} 
    ]]>
    </delete>
	
	<#-- 修改语句块 -->
	<update id="${className}_update" >
    <![CDATA[
        UPDATE ${sqlName} SET        
        <#list table.columns as column>
        <#escape column as column?default("")>
        ${column.constantName} = ${'#{'}${column.columnNameLower}}<#if column_has_next>,</#if>
		</#escape> 
		</#list>
        WHERE 
	        ${pk} = ${'#{'}${pk.columnNameLower}}
	      
    ]]>
	</update>
	
	<#-- 根据id查询语句块 -->
	<select id="${className}_getById" resultMap="${className}">
		SELECT <include refid="${className}_columns" />
	    <![CDATA[
		    FROM ${sqlName} T
	        WHERE 
		        T.${pk} = ${'#{'}id} 
	    ]]>
	</select>
	
	
	<#-- 根据id查找对象句块 -->
	<select id="${className}_findCountByWhere" resultType="int">
        SELECT count(*) FROM ${sqlName} T
		<include refid="${className}_findPage_where"/> 
	</select>  
	
	<select id="${className}_findListByWhere" resultMap="${className}">
    	SELECT <include refid="${className}_columns" />
	    FROM ${sqlName} T
		<include refid="${className}_findPage_where"/>
    </select> 
    
    	<sql id="${className}_findPage_where">
		
		<where>	  
		<#list table.columns as column>   
		<#escape column as column?default("")> 				
	       <if test="${column.columnNameLower} != null and ${column.columnNameLower} !=''">
				AND T.${column.constantName} = ${'#{'}${column.columnNameLower}}
			</if>
			</#escape> 
	     </#list>
		</where>
		
	</sql>
	
	
	
</mapper>

